body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    
}

img:hover {
    border: yellow 10px solid;
}

.avatar {
    object-fit: contain;
    width: 160px;
    height: 90px;
    border:#F8FA90 solid 5px;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:10px;
    border-radius:1px;
    box-shadow: 8px 8px 13px rgba(5, 6, 6, 14);
    transition: border 0.3s ease;
    
    
}

.card {
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #011638;
    color: #F8FA90;
    border-radius:5px;
    border-bottom: 6px solid #F4EF88;
    text-shadow: 2px 1px 5px #F8F8F8;
    animation: bounce 2s infinite;     
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
 p {
    margin:1px;
    text-shadow: 2px 1px 2px #F8F8F8;
}
 h1 {
    margin:1px;
    
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
